<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Editor</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-app="bookEditApp">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Book Editor</a>
            </div>
            <div ng-controller="navigationCtrl" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a ng-click="navigateToBooks()" href="">Books</a></li>
                    <li><a ng-click="navigateToAuthors()" href="">Authors</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-view class="container body-content" />

    <footer>
        <p>&copy; @DateTime.Now.Year - Book Editor</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsApp")
    @Scripts.Render("~/bundles/underscore")

</body>
</html>